.env
.phpunit.result.cache
/.idea
/.vagrant
/.vscode
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/storage/logs/*.log
/storage/debugbar
/storage/httpcache
/storage/modules
/vendor
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
yarn-error.log
