// :root {
//   --soft-primary: #d9e8fa;
//   --track: #ecf3fc;
//   --bg-hover: rgba(246,246,246,0.7);
// }

// .comment_navigation {
//   .comment_navigation__btn {
//     border-color: var(--link);
//     border-width: 0.1rem;
//     color: var(--link);
//     padding: 1rem 1.25rem !important;

//     .v-btn__content {
//       font-size: 0.7rem !important;
//       font-weight: bold;
//     }

//     &:hover {
//       background-color: var(--primary) !important;
//       color: var(--white);
//     }
//   }

//   .comment_navigation__range {
//     margin-left: 4.4rem;
//     margin-right: 4.4rem;
//     min-width: 10rem;
//     position: relative;

//     .v-slider__track-container {
//       .v-slider__track-background {
//         background-color: var(--track) !important;
//       }

//       .v-slider__track-fill {
//         background-color: var(--track) !important;
//       }

//       &::before {
//         background-color: var(--track);
//         border-radius: 100rem;
//         content: "";
//         height: 0.1rem;
//         left: -2rem;
//         position: absolute;
//         width: 2rem;
//         z-index: 10;
//       }

//       &::after {
//         background-color: var(--track);
//         border-radius: 100rem;
//         content: "";
//         height: 0.1rem;
//         position: absolute;
//         right: -2rem;
//         width: 2rem;
//         z-index: 10;
//       }
//     }

//     .v-slider__thumb {
//       border-radius: 0.5rem !important;
//       height: 0.4rem !important;
//       margin-left: -1.15rem !important;
//       width: 3rem !important;

//       &::before {
//         display: none;
//       }
//     }

//     &::before {
//       background-color: var(--primary);
//       border-radius: 100rem;
//       box-shadow: 0 0 0 0.4375rem var(--soft-primary);
//       content: "";
//       height: 1rem;
//       left: -2.3rem;
//       position: absolute;
//       top: 0.65rem;
//       width: 1rem;
//       z-index: 10;
//     }

//     &::after {
//       background-color: var(--primary);
//       border-radius: 100rem;
//       box-shadow: 0 0 0 0.4375rem var(--soft-primary);
//       content: "";
//       height: 1rem;
//       position: absolute;
//       right: -2.3rem;
//       top: 0.65rem;
//       width: 1rem;
//       z-index: 10;
//     }
//   }
// }

// .discussion_list_item {
//   &:hover {
//     background-color: var(--bg-hover) !important;
//   }
// }

// # FIX FOR UI BUG #1
div.v-card.v-card--flat.v-sheet.theme--light.transparent,
div.v-card.v-card--flat.v-sheet.theme--light.white {
  border-radius: 0;
}


//# GrapesJS styles
/* Let's highlight canvas boundaries */
#gjs {
  border: 3px solid #444;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}

.iframe_container {
  border: 0.1rem solid $link;
}

#grapes-editor_container {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}

.block-icon {
  font-size: 2.5rem;
}

.gjs-layer-name, .gjs-layer-count, .gjs-layer-move {
  line-height: 1 !important;
}

/* Primary color for the background */
// .gjs-one-bg {
//   background-color: var(--white);
// }

// /* Secondary color for the text color */
// .gjs-two-color {
//   color: var(--black);
// }

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: $primary;
  color: $light;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: $primary;
}

body.gjs-open {
  height: 100vh;
  overflow-y: hidden;
}

.primary-bg { background: var(--primary) !important }
.white-text { color: var(--white) !important }

.grapesjs-section, .grapesjs-form {
  padding: 1rem;
}

.grapesjs-textarea, .grapesjs-input, .grapesjs-select {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
  border: solid 0.1rem var(--field-border-color);

  &:focus {
    border-color: var(--primary);
  }
}

.grapesjs-select {
  background-color: var(--card-border-color);
}
